@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

body {
    font-size: 1.125rem;
    overflow-x: hidden;
    font-family: 'Public Sans', sans-serif;
}

p {
    color: #7e7878;
    font-size: 16px;
}

h1 {
    font-weight: 400;
}
/* Navigation Section */

#nav {
    padding: 0.5% 10%;
    background-color: hsl(0, 0%, 100%);
    position: relative;
    z-index: 1;
}

.navbar-nav {
    margin: 0 auto;
}

.nav-item {
    margin: 0 3%;
}

.nav-link {
    color: #8f8f8f;
}


.nav-link:hover {
    color: #000;
    border-bottom: 3px solid hsl(136, 65%, 51%);
    
}

.request-btn {
    border-radius: 50px;
    padding: 10px 35px;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}

.request-btn:hover {
    color: hsl(0, 0%, 100%);
}

/* introduction section */

#introduction {
    background-color: hsl(0, 0%, 98%);
    padding: 10% 10%;
    
}

.bg-intro {
    width: 58%;
    position: absolute;
    right: -100px;
    top: -60px;
    z-index: 0;
}

.bg-intro-mobile {
    display: none;
}

.mockups-img {
    position: absolute;
    top: -300px;
    right: -230px;
    width: 100%;
}

.intro-para {
    margin: 6% 0;
}

/* Choose Us section */

#choose-us {
    padding: 6% 10%;
    background-color: hsl(0, 0%, 95%);
}

.choose-us-intro {
    width: 60%;
}

.choose-us-icon {
    margin: 20% 0;
}

.choose-us-heading {
    margin-bottom: 10%;
}

/* LAtest articles section */

#latest {
    padding: 6% 10%;
    background-color: hsl(0, 0%, 98%);
}

.card-body{
    padding: 0;
}

.latest-img {
    width: 100%;
    
}

.latest-text {
    padding: 20px;
}

.card {
    border: 0px;
}

.latest-heading {
    padding-bottom: 40px;
}

.latest-text-heading{
    font-size: 18px;
}

.latest-text-heading:hover {
    color: hsl(136, 65%, 51%);
}

/* Footer section */

#footer {
    background-color: hsl(233, 26%, 24%);
    padding: 4% 8%;
}

.social-icon {
    margin: 2%
}

.footer-list {
    text-decoration: none;
    color: #fff;
    font-size: 16px
}

.footer-list:hover {
    color: hsl(136, 65%, 51%);
    text-decoration: none;
}

.footer-link {
    list-style-type: none;
}

.logo-buttom {
    width: 100%;
    padding-bottom: 30px;
}

.footer-right {
    text-align: right;
}

.rights {
    margin-top: 20px;
    color: hsl(0, 0, 98%);
}

.attribution {
    text-align: center;
    color: #fff;
    padding-top: 30px;
}

.attribution-link {
    text-decoration: none;
    color: #fff
}

/* Media Query Break Points */
@media (max-width: 375px) {
    body{
        text-align: center;
    }

    /* introduction section */

    #introduction {
        padding: 0;
        text-align: center;
    }

    .bg-intro-mobile {
        display: inline-block;
        width: 100%;
        position: relative;
        text-align: center;
        top: -40px;
        z-index: 0;
    }

    .mockups-img {
        position: absolute;
        top: -850px;
        right: 20px;
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }

    .intro-mobile {
        padding: 0 12% 15%;
    }   

    /* choose us section */

    #choose-us {
        padding-top: 15%
    }

    .choose-us-intro {
        width: 100%;
        padding-top: 20px;
    }

    /* Latest section */

    #latest {
        padding: 15% 8%;
    }

    .latest-body {
        margin: 5% 0;
    }

    /* Footer section */

    .footer-right {
        text-align: center;
    }

    .footer-link {
        padding: 10px 0;
    }

    .logo-buttom {
        width: 50%;
        padding: 30px 0;
    }
}   

@media (min-width:376px) and (max-width: 415px) {
    body{
        text-align: center;
    }

    /* introduction section */

    #introduction {
        padding: 0;
        text-align: center;
    }

    .bg-intro-mobile {
        display: inline-block;
        width: 100%;
        position: relative;
        text-align: center;
        top: -40px;
        z-index: 0;
    }

    .mockups-img {
        position: absolute;
        top: -50.125rem;
        right: 20px;
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }

    .intro-mobile {
        padding: 0 12% 15%;
    }   

    /* choose us section */

    #choose-us {
        padding-top: 15%
    }

    .choose-us-intro {
        width: 100%;
        padding-top: 20px;
    }

    /* Latest section */

    #latest {
        padding: 15% 8%;
    }

    .latest-body {
        margin: 5% 0;
    }

    /* Footer section */

    .footer-right {
        text-align: center;
    }

    .footer-link {
        padding: 10px 0;
    }

    .logo-buttom {
        width: 50%;
        padding: 30px 0;
    }
}   

@media (min-width:416px) and (max-width: 575px) {
    body{
        text-align: center;
    }

    /* introduction section */

    #introduction {
        padding: 0;
        text-align: center;
    }

    .bg-intro-mobile {
        display: inline-block;
        width: 100%;
        position: relative;
        text-align: center;
        top: -40px;
        z-index: 0;
    }

    .mockups-img {
        position: absolute;
        top: -64.125rem;
        right: 20px;
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }

    .intro-mobile {
        padding: 0 12% 15%;
    }   

    /* choose us section */

    #choose-us {
        padding-top: 15%
    }

    .choose-us-intro {
        width: 100%;
        padding-top: 20px;
    }

    /* Latest section */

    #latest {
        padding: 15% 8%;
    }

    .latest-body {
        margin: 5% 0;
    }

    /* Footer section */

    .footer-right {
        text-align: center;
    }

    .footer-link {
        padding: 10px 0;
    }

    .logo-buttom {
        width: 50%;
        padding: 30px 0;
    }
} 

@media (min-width:576px) and (max-width: 700px) {
    body{
        text-align: center;
    }

    /* introduction section */

    #introduction {
        padding: 0;
        text-align: center;
    }

    .bg-intro-mobile {
        display: inline-block;
        width: 100%;
        position: relative;
        text-align: center;
        top: -40px;
        z-index: 0;
    }

    .mockups-img {
        position: absolute;
        top: -78.125rem;
        right: 20px;
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }

    .intro-mobile {
        padding: 0 12% 15%;
    }   

    /* choose us section */

    #choose-us {
        padding-top: 15%
    }

    .choose-us-intro {
        width: 100%;
        padding-top: 20px;
    }

    /* Latest section */

    #latest {
        padding: 15% 8%;
    }

    .latest-body {
        margin: 5% 0;
    }

    /* Footer section */

    .footer-right {
        text-align: center;
    }

    .footer-link {
        padding: 10px 0;
    }

    .logo-buttom {
        width: 50%;
        padding: 30px 0;
    }
}

@media (min-width:701px) and (max-width: 815px) {
    body{
        text-align: center;
    }

    /* introduction section */

    #introduction {
        padding: 0;
        text-align: center;
    }

    .bg-intro-mobile {
        display: inline-block;
        width: 100%;
        position: relative;
        text-align: center;
        top: -40px;
        z-index: 0;
    }

    .mockups-img {
        position: absolute;
        top: -78.125rem;
        right: 20px;
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }

    .intro-mobile {
        padding: 0 12% 15%;
    }   

    /* choose us section */

    #choose-us {
        padding-top: 15%
    }

    .choose-us-intro {
        width: 100%;
        padding-top: 20px;
    }

    /* Latest section */

    #latest {
        padding: 15% 8%;
    }

    .latest-body {
        margin: 5% 0;
    }

    /* Footer section */

    .footer-right {
        text-align: center;
    }

    .footer-link {
        padding: 10px 0;
    }

    .logo-buttom {
        width: 50%;
        padding: 30px 0;
    }
} 

@media (min-width:816px) and (max-width: 991px) {
    body{
        text-align: center;
    }

    /* introduction section */

    #introduction {
        padding: 0;
        text-align: center;
    }

    .bg-intro-mobile {
        display: inline-block;
        width: 100%;
        position: relative;
        text-align: center;
        top: -40px;
        z-index: 0;
    }

    .mockups-img {
        position: absolute;
        top: -108.125rem;
        right: 20px;
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }

    .intro-mobile {
        padding: 0 12% 15%;
    }   

    /* choose us section */

    #choose-us {
        padding-top: 15%
    }

    .choose-us-intro {
        width: 100%;
        padding-top: 20px;
    }

    /* Latest section */

    #latest {
        padding: 15% 8%;
    }

    .latest-body {
        margin: 5% 0;
    }

    /* Footer section */

    .footer-right {
        text-align: center;
    }

    .footer-link {
        padding: 10px 0;
    }

    .logo-buttom {
        width: 50%;
        padding: 30px 0;
    }
}   